<div class="modal fade" id="Modal-MoreInfo{{ item.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalLabel-MoreInfo">{{ item.title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ item.description }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'booking' item.id %}">
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                            onclick="{% url 'booking' item.id %}">
                        Book
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>