{% extends "base.html" %}

{% block title %}
Booking
{% endblock %}

{% block content %}
<p id="applianceID" style="display: none">{{appliance.pk}}</p>
<body class="text-center">
<form class="form" method="POST">
    {% csrf_token %}
    <img class="mb-4" src="{{appliance.image_url}}" height="150">
    <h1 class="h3 mb-3 font-weight-normal">
        Booking Form for {{appliance.title}}
    </h1>
    <br>
    <label for="inputTimeFrom" class="sr-only">Time From</label>
    <input type="datetime-local" id="inputTimeFrom" class="form-control" placeholder="Time From" name="timeFrom"
           required
           autofocus>
    <br>
    <label for="inputTimeTo" class="sr-only">Time To</label>
    <input type="datetime-local" id="inputTimeTo" class="form-control" placeholder="Time To" name="timeTo" required>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Book</button>
</form>


<div id="calendarDiv">
    <div id="containerCalendar">
        <div id="headerCalendar">
            <div id="monthDisplay"></div>
            <div>
                <button id="backButton" class="btn btn-lg btn-primary btn-block">Back</button>
                <button id="nextButton" class="btn btn-lg btn-primary btn-block">Next</button>
            </div>
        </div>
        <div id="weekdays">
            <div class="weekday">Sunday</div>
            <div class="weekday">Monday</div>
            <div class="weekday">Tuesday</div>
            <div class="weekday">Wednesday</div>
            <div class="weekday">Thursday</div>
            <div class="weekday">Friday</div>
            <div class="weekday">Saturday</div>
        </div>

        <div id="calendar"></div>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Bookings</th>
    </tr>
    </thead>
    <tbody id="tableBodyForInsertion">
    </tbody>
</table>

{% endblock %}