{% extends 'base.html' %}

{% block title %}
Equipment
{% endblock %}

{% block content %}

<div>
    <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
    <input name="query" class="form-control" type="text" placeholder="Search">
    </form>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Location</th>
        <th scope="col">Status</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
    {% for item in items %}
    {% include 'includes/modals.html' %}
    <tr>
        <th scope="row">{{ item.pk }}</th>
        <td>{{ item.title }}</td>
        <td>
            <img alt="No image" style="width:64px" src="{{ item.image_url }}">
        </td>
        <td>{{ item.location }}</td>
        {% if item.status == 'a' %}
        <td class="functionalAppliance">Functional</td>
        {% elif item.status == 'b' %}
        <td class="brokenAppliance">Under Repair</td>
        {% else %}
        <td>Unknown</td>
        {% endif %}
        <td>
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#Modal-MoreInfo{{ item.pk }}">
                More info
            </button>
            <a href="{% url 'booking' item.id %}">
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                        onclick="{% url 'booking' item.id %}">
                    Book
                </button>
            </a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="container puslapiai">
    <nav aria-label="...">
        {% if items.has_other_pages %}
            <ul class="pagination pagination-sm justify-content-end">
                {% for i in items.paginator.page_range %}
                    {% if items.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </nav>
</div>

{% endblock %}